---
layout: default
---
<!DOCTYPE html>
<html lang="es">
  {% include head.html %}
<body>
  <div class="container">
    <div class="news-card" style="background: url('{{ page.url_imagen }}') center/cover no-repeat;">
      <div class="layer"></div>
      <div class="text-overlay ">
        <span class="emotional">{{ page.categoria_emocional }}</span>
        <h1>{{ page.titular }}</h1>
        <span class="publish-date">Publicada el {{ page.date | date: "%d/%m/%Y" }}</span>
        <p class="resume">{{ page.resumen }}</p>
      </div>
    </div>
    <div class="context">
      <div class="explain">
        <span><strong>Análisis y contexto adicional</strong><br />Información relevante no incluida en la noticia de eitb, pero clave para entender el tema a fondo.</span>
      </div>
      
      <!-- Context -->
      <h2>Contexto</h2>
      <p>{{ page.contexto }}</p>

      <!-- Timeline hits -->
      {% assign linea_tiempo_count = page.linea_tiempo | size %}
      {% if linea_tiempo_count > 0 %}
      <h2>Linea de tiempo</h2>
      <ul class="timeline">
        {% for hito in page.linea_tiempo %}
        <li class="timeline-item">
          <div class="timeline-date">{{ hito.fecha }}</div>
          <p class="timeline-description">
            {{ hito.descripcion }}
          </p>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <!-- Who is who -->
      <!-- {% assign quien_es_quien_count = page.quien_es_quien | size %}
      {% if quien_es_quien_count > 0 %}
      <h2>Quién es Quién</h2>
      <div class="who-is-who">
        {% for persona in page.quien_es_quien %}
        <div class="item">
          <span class="">
            {{ persona.nombre }}
          </span>
          <p>{{ persona.descripcion }}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %} -->
      
      <!-- Glossary terms -->
      {% assign glosario_terminos_count = page.glosario_terminos | size %}
      {% if glosario_terminos_count > 0 %}
      <h2>Glosario de Términos</h2>
      <div class="glossary"> 
        <div class="card-container">
          {% for termino in page.glosario_terminos %}
          <div class="card">
            <h3>{{ termino.termino }}</h3>
            <p><em>{{ termino.definicion }}</em></p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <!-- Data -->
     {% assign datos_relevantes_count = page.datos_relevantes | size %}
      {% if datos_relevantes_count > 0 %}
      <h2>Datos relevantes </h2>
      <div class="data">
        {% for data in page.datos_relevantes %}
        <div>
          <p><strong>{{ data.fuente }}</strong><br /><i>{{ data.dato }}</i>
          </p>
          
        </div>
        {% endfor %}
      </div>
      {% endif %}

      <!-- Expected impact -->
      {% assign impacto_esperado_count = page.impacto_esperado | size %}
      {% if impacto_esperado_count > 0 %}       
      <h2>Impacto esperado</h2> 
      <p>{{ page.impacto_esperado }}</p>
      {% endif %}

      <!-- Camparations -->
      {% assign comparativas_count = page.comparativas | size %}
      {% if comparativas_count > 0 %}       
      <h2>Comparativas</h2> 
      <p>{{ page.comparativas }}</p>
      {% endif %}
    </div>  
      
    <div class="footer">
      <div class="canonical">
        <span class="canonical_headline">Fuente de la noticia</span>
        <span class="">{{ page.url_canonical }}</span>
      </div>
    </div>
    <div class="sign">
      <p>Hïtzur es un proyecto creado con pasión por la tecnología y las ganas de aprender. Si quieres más información, visita <a href="https://hitzur.com" target="_blank">Hïtzur</a><br /><i>Gogoz ikasi, bihotzez egin</i></p>
    </div>
  </div>
</body>
</html>